<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{>links}}

    <title>About US</title>

</head>
<body>

    {{>navbar}}

    <div class="about">
        <div class="container-fluid main_cont">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
    
                        <div class="col-md-6 col-12 main_cont_right">
                            <figure>
                                <img id="fig" src="images/icon1.png" alt="">
                            </figure>
                        </div>

                        <div class="col-md-6 col-12 main_cont_left">
                            <h1>Who Am I ?</h1>
                            <a href="https://www.google.com/" target="_"><button>More About Me</button></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    {{>js}}

</body>
</html>